<div *ngFor="let modal of modalInstances" id="ngx-dynamic-modal-overlay" (click)="overlayClick($event)" class="modal">
  <div class="modal-content">
    <span id="ngx-dynamic-modal-close-btn" class="close">&times;</span>
    <div appModal></div>
  </div>
</div>